{% extends 'photography/base.html' %}

{% block content %}

<!-- First Container -->
<div class="parallax text-center">
  <h1 class="margin"><b>Welcome to HotSpot!</b></h1>
  <a href="/search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">WHAT IS HOTSPOT?</h3>
  <p>Looking for the perfect Instagrammable spot, searching for the perfect background for your picture. HotSpot will guide you to the perfect location for your headshot, profile picture, and more. HotSpot is a collaborative board that allows photographers to give other local spots for that perfect picture.</p>
  <br>
  <h3>HOW DOES IT WORKS?</h3>
    <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-search"></span>
      <h4>ENTER A ZIP CODE</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-map-marker"></span>
      <h4>FIND A DESINATION</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <h4>GO TO YOUR DESIRED LOCATION</h4>
    </div>
  </div>
</div>


<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">A PLACE TO SHARE</h3><br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="static/photography/images/doggo.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p><i>Rotunda (180 McCormick Rd, Charlottesville, VA 22903)</i></p></center>
            <p><b>jazzy_whazzy </b>Walking my lil' pupper around the Lawn. So many people came by to say hi :)</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="static/photography/images/art_park.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p><i>IX Art Park (180 McCormick Rd, Charlottesville, VA 22903)</i></p></center>
            <p><b>Arakiddingme </b>Took this photo of my two best friends (I'm such an awesome third wheel)</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="static/photography/images/lawn_gardens.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p><i>Lawn Gardens (180 McCormick Rd, Charlottesville, VA 22903)</i></p></center>
            <p><b>peterp0 </b>I got lost trying to find Newcomb, but I found this neat place by the lawn</p>
          </div>
        </a>
      </div>
    </div>
</div>


{% endblock %}