{% extends 'photography/base.html' %}

{% block content %}

<!-- First Container -->
<div class="parallax text-center">
  <h1 class="margin"><b>Welcome to HotSpot!</b></h1>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What is HotSpot?</h3>
  <p>Looking for the perfect Instagrammable spot, searching for the perfect background for your picture. HotSpot will guide you to the perfect location for your headshot, profile picture, and more. HotSpot is a collaborative board that allows photographers to give other local spots for that perfect picture.</p>
</div>

<!-- Third-->
<div class="container-fluid bg-3 text-center">
    <h3>Hot it Works?</h3>
    <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-search"></span>
      <h4>ENTER A ZIP CODE</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-map-marker"></span>
      <h4>FIND A DESINATION</h4>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <h4>GO TO YOUR DESIRED LOCATION</h4>
    </div>
  </div>
</div>
  
<!-- Fourth Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Location</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
  </div>
</div>

{% endblock %}