{% extends 'photography/base.html' %}

{% block content %}


<div class="container2">
<h3>{{ profile.description }}</h3>


{% if pictures %}
    <ul>
    {% for picture in pictures %}
    <li><img style="display:block; margin:auto; padding-bottom: 20px;"src="{{picture.choice_text}}" width=30% height=30%></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pictures.</p>
{% endif %}
</div>

<div class="row"> 
       <div class="container2">
           <h2>Most Positive</h2>
           <p>{{ pos }}</p>
        </div>
        <div class="container2">
           <h2>Most Negative</h2>
           <p>{{ neg }}</p>
        </div>
        <div class="container2">
            <h2>Most Neutral</h2>
            <p>{{ neu }}</p>
        </div>
</div> 

<div class="container2">
{% if comments %}
    <ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item"><h4>{{ comment.choice_text }}</h4></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments.</p>
{% endif %}
</div>


{% endblock %}